body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#grid {
    /* width: 378px;
    height: 395px;

    margin-left: 20px;
    margin-top: 50px; */

    border-collapse: collapse;
}

colgroup, tbody { 
    border: 3px solid black; 
}

td{ 
    border: 1px solid black; 
    height: 1.4em; 
    width: 1.4em; 
    text-align: center; 
    padding: 0; 
    margin: 0;
}

input {
    border:0;
    outline:0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

input:focus {
    outline:none!important;
}

/* input{
    height: inherit; 
    width: inherit;
} */

/* .cell input {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 15px;
  } */

input {
    border:0;
    outline:0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

input:focus {
    outline:none!important;
}